	p, h1, h4
	{
		font-family: "Open Sans";
	}

	.testimonials, .services, .process, .news, .posts
	{
		padding: 30px 0 50px 0;
	}

	#up
	{
		position: fixed;
		right: 20px;
		bottom: 20px;
		background: black;
		padding: 13px;
		color: white;
	}

	.container
	{
		padding-left: 100px;
		padding-right: 100px;

	}

	.services table
	{
	    align: center;
	    width: 100%;
	}

	.services td
	{
		vertical-align: top;
		text-align: left;
	}

	.services td:nth-of-type(2)
	{
		padding-left: 5px;
	}

	.services td:first-of-type
	{
		width: 55px;
		text-align: center;
	}

	.navhead a
	{
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	.navhead ul
	{
		margin-left: 15px;
		margin-right: 1px;
	}

	.navhead li:first-of-type
	{
		border-left: 1px solid #DDD;
	}

	.navhead li
	{
		border-right: 1px solid #DDD;
	}

	.navhead
	{
		min-height:20px !important;
	}

	.navbar2
	{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.8em;
	}

	.navbarhead2
	{
		padding-left: 30px;
	}

	[src="images/meeting-room.jpg"]
	{
		width: 100%;
		opacity: 0.5;
	}

	[src="images/slider-woman.png"]
	{
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 15%;
	}

	[src="images/slider-bubbles.png"]
	{
	position: absolute;
	top: 10%;
	left: 34%;
	width: 10%;
	}

	.captions
	{
		width: 41%;
		position: absolute;
		bottom: 27%;
		left: 46%;
		text-align: left;
		color:#222;
		font-family: "Open Sans";
		
	}

	.captions h1
	{	
		text-align: center;
		font-size: 3em;
		font-size: 3.5vw;
		background: rgba(255, 255, 255, 0.7);
		min-height: 40px;
	}

	.captions p
	{
		width: 73%;
		text-align: center;
		font-size: 1.8em;
		font-size: 2vw;
		background: rgba(255, 255, 255, 0.7);
	}

	.serviceText
	{
		font-size: 1.2em;
	}
	.fa-red
	{
		color: red;
	}

	.gray
	{
		background: #EEE;
	}

	.testimonials .name
	{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.9em;
	}

	.testimonials .function
	{
		color: #999;
		font-weight: normal;
		font-size: 0.8em;
	}

	.testimonials .profile{
		width: 130px;
	}

	.testimonials .commentsLeft
	{
		position: relative;
		left: 8px;
		background: white;
		height: 100%;
		width: 100%;
		padding: 25px 10px;
	}

	.testimonials .commentsRight
	{
		position: relative;
		right: 8px;
		background: white;
		height: 100%;
		width: 100%;
		padding: 25px 10px;
	}

	.testimonials .triangle-left
	{
		position: absolute;
		top: 23px;
		left: 143px;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-right: 10px solid white;
		border-bottom: 7px solid transparent;
	}

	.testimonials .triangle-right
	{
		position: absolute;
		top: 23px;
		right: 143px;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-left: 10px solid white;
		border-bottom: 7px solid transparent;
	}

	.testimonials img
	{
		border-radius: 100%;
	}

	.process2 .col-md-6:first-of-type
	{
		border-right: 1px solid gray;
	}

	.process .row:nth-of-type(5) .col-md-6
	{
		border-top: 1px solid gray;
	}

	.process .col-md-6
	{
		padding: 20px;
	}

	.process td:first-of-type
	{
		width: 75px;
		vertical-align: top;
	}

	.process table ul
	{
		padding-left: 17px;
  		color: red;
	}

	.process table ul .text
	{
		color:black;
	}

	.details
	{
		background-image: url("../images/stand-there.jpeg");
		background-size: cover;
		background-position: center;
		color: white;
	}

	.details button
	{
		background:none;
		color:white;
	}

	.details h1
	{
		font-size: 2.9vw;
	}

	.news img
	{
		width: 100%;
	}

	.news a
	{
		color: gray;
	}

	.newsList
	{
		border-left: 1px solid gray;
		border-right: 1px solid gray;
	}

	.new
	{
		background: white;
		padding: 15px 20px;
		min-height: 220px;
	}

	.posts
	{
		background: #272727;
		color: white;
	}

	.posts table
	{
		width: 100%;
	}

	.posts table td:first-of-type
	{
		padding-bottom: 10px;
		vertical-align: top;
	}

	.posts table td:nth-of-type(2)
	{
		padding: 0 10px;
		vertical-align: top;
	}

	.posts table strong
	{
		font-size: 1.1em;
	}

	.posts li .text
	{
		color: white;
	}

	.UCase
	{
		text-transform: uppercase;
	}

	.date
	{
		font-size: 0.9em;
		color: gray;
	}

	.leftList
	{
		padding-left: 17px;
	}

	.postsBtn button
	{
		background: black;
		color: #333;
	}

	.postsDate
	{
		border-right: 1px solid gray;
	}

	.copyright
	{
		background: #222;
		color:white;
		padding: 30px 0 25px 0;
	}

 	.copyright .sm1 a
 	{
 		color: orange;
 	}
 	
 	.copyright .sm2 a
 	{
 		color: #00FFFB;
 	}
 	
 	.copyright .sm3 a
 	{
 		color: blue;
 	}
 	
 	.copyright .sm4 a
 	{
 		color: red;
 	}

	.copyright .sm5 a
 	{
 		color: #00C3FF;
 	}